
/* Define default spinner */
.ui-icon-loading {
	background: url("../libs/jquerymobile/1.4.5/images/ajax-loader.gif") repeat scroll 0 0 / 100% auto transparent!important;
}
/* XAdDialogContainerName */
.ui-content.XAdDialog10_XAdDialogContainerName {
	padding: 0px 0px 0px 0px;
}
/* XAdDialogImageName */
.XAdDialog10_XAdDialogImageName {
	margin: 0px 0px 0px 0px;
	width: 100%; height: auto;
	display: block;
}
/* XAdDialogFooterName */
.XAdDialog10_XAdDialogFooterName {
	min-height:38px;
}