
/* Define default spinner */
.ui-icon-loading {
	background: url("../libs/jquerymobile/1.4.5/images/ajax-loader.gif") repeat scroll 0 0 / 46px 46px transparent!important;
}
/* XAdDialogContainerName */
.ui-content.XAdDialog01_XAdDialogContainerName {
	padding: 0px 0px 0px 0px;
}
/* XAdDialogImageName */
.XAdDialog01_XAdDialogImageName {
	margin: 0px 0px 0px 0px;
	width: 100%; height: 100%;
	display: block;
}
/* XAdDialogFooterName */
.XAdDialog01_XAdDialogFooterName {
	min-height:38px;
}
.ui-dialog-contain {
	width: 100%;
	max-width: 640px;
	margin: 0 auto 0 auto;
	padding: 0;
	position: relative;
	top: 5%;
}


